<div>
    <table class="table">
            <thead class="thead bg-primary">
            <th>#</th>
            <th>Amount</th>
            <th>Author ID</th>
            <th>Manager ID</th>
            <th>Status ID</th>
            <th>Type ID</th>
            <th>Description</th>
            </thead>
            <tbody>
            <tr *ngFor="let item of reimbArray">
            <td>{{ item.id}}</td> 
            <td>{{ item.amount}}</td>
            <td>{{ item.author}}</td>
            <td>{{ item.resolver}}</td>
            <td>{{ item.status_Id}}</td>
            <td>{{ item.type_Id}}</td>
            <td>{{ item.description}}</td>
            <button class = "btn btn-success" (click)="updateReim(1,1, item.id)" type="button" name="accept">accept</button>
        <button class = "btn btn-danger" (click)="updateReim(2,1, item.id)" type="button" name="decline">decline</button>
        </tr>
        </tbody>
    </table>
    </div>
    
    <button class = "btn btn-primary" (click) = "BacktoHome()">Go to Homepage</button>